@import "../../utils/theme.scss";

.value-main {
  font-size: 2rem;
  margin: 0;
  display: flex;
  align-items: center;
  width: 150px;
  justify-content: center;
}

.value-last {
  font-size: 1rem;
  color: rgb(128, 128, 128);
  margin: 0;
}

.mirrored {
  transform: scaleX(-1);
}

.summary-tile {
  width: 200px;
}

.custom-col {
  display: flex;
  justify-content: center;
}
