@import "../../utils/theme.scss";

.sidebar {
  font-size: 1.5rem;
}

.sidebar ul li a:hover {
  background-color: $lightDark;
}

.logout-button {
  background-color: transparent;
  color: white;
  padding: 0;
  text-align: left;
}

.logout-button:hover {
  background-color: transparent;
}
