@import "../../styles/theme.scss";

.dashboard-card {
  min-height: 350px;
  max-height: 350px;
}

.category-summary-dashboard {
  min-height: 350px;
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.custom-chart-height {
  max-height: 293px;
}
