@import "../../utils/theme.scss";

// Light mode
.pagination .page-link {
  color: #000;
}

.pagination .page-link:hover {
  background-color: #fff;
  border-color: #000;
  color: #000;
}

.pagination .page-link:focus {
  background-color: #dee2e6;
  color: #000;
}

.page-item.active .page-link {
  background-color: $dark;
  border-color: $dark;
  color: #fff;
}

// Dark mode
.dark-pagination .page-link {
  background-color: $dark;
  border-color: #373b3e;
  color: #fff;
}

.dark-pagination .page-link:hover {
  background-color: $dark;
  border-color: #fff;
  color: #fff;
}

.dark-pagination .page-link:focus {
  background-color: $dark;
  color: #fff;
}

.dark-pagination .page-item.active .page-link {
  background-color: #fff;
  border-color: #fff;
  color: #000;
}
