@import "../../utils/theme.scss";

.page-item:focus {
  outline: none;
}

.page-item .page-link {
  color: #000;
}

.page-item.active .page-link {
  background-color: #dee2e6;
  border-color: #dee2e6;
  color: #000;
}

.pagination .page-link:hover {
  background-color: #dee2e6;
  color: #000;
}

.pagination .page-link:focus {
  color: #000;
}

.dark-pagination {
  color: #fff;
}

.dark-pagination .page-item.active .page-link {
  background-color: #373b3e;
  border-color: #373b3e;
  color: #fff;
}

.dark-pagination .page-link {
  background-color: $dark;
  border-color: #373b3e;
  color: #fff;
}

.dark-pagination .page-link:hover {
  background-color: #373b3e;
  border-color: #373b3e;
  color: #fff;
}

.dark-pagination .page-link:focus {
  background-color: #373b3e;
  color: #fff;
}
