@import "../../utils/theme.scss";

.switch-container {
  display: flex;
  padding-top: 1rem;
  justify-content: center;
  align-items: center;
}

.switch-middle {
  font-size: 1.5rem;
  width: 300px;
}

@media (max-width: 576px) {
  .switch-middle {
    font-size: 1.3rem;
    width: 200px;
  }
}

.year-selector {
  border: none;

  &:focus {
    outline: none;
  }
}

.select-dark {
  background-color: $lightDark;
  color: white;
}
