@import "../../utils/theme.scss";

button {
  background-color: #fff;
  border: none;
  white-space: nowrap;

  &:hover {
    background-color: #f2f2f2;
  }
}

thead button.ascending::after {
  content: "⬇️";
  display: inline-block;
  margin-left: 0.5rem;
}

thead button.descending::after {
  content: "⬆️";
  display: inline-block;
  margin-left: 0.5rem;
}

table th,
td {
  vertical-align: middle;
}
